html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFFFF;
    color: #111111;
    font-family: 'Lato', sans-serif;
}

/* unvisited link */
a:link {
    color: #00FF00;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #00FF00;
}

/* selected link */
a:active {
    color: #2AAF66;
}

::selection {
    background: #01AF31; /* WebKit/Blink Browsers */
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

::-moz-selection {
    background: #01AF31; /* Gecko Browsers */
    -moz-transition: all 0.3s linear;
}

.button-dl {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    font-size: 200%;
}

.header {
    vertical-align: center;
    font-size: 48px;
}

#iconPanel {
    margin-left: -230px; /* "#menu" width */
    width: 230px;
    height: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: hidden;
}

#iconPanel.active {
    left: 230px;
}

#iconTable {
    display: table;
    width: 100%;
    height: 100%;
    border-top: 1px solid #333;
}

.row {
    display: table-row;
}

.icon {
    width: 33%;
    height: 50%;
    color: #777;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.icon i {
    color: #777;
    font-size: 120%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.icon:hover {
    background: black;
}

.icon:hover i {
    color: #7D7;
}

.icontext {
    color: #777;
    font-size: 60%;
    font-family: "omnes-pro", sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

#contentcontainer {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#maincontent {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#contentbackground {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-size: cover;
}

.vcenter-container {
    height: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
}

#menuTitle {
    background-color: black;
    height: 100%;
}

.logo-text {
    height: 60px;
    width: 300px;
    text-align: left;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;

    transform: rotate(90deg);
    transform-origin: 0px;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.logo-text:hover,
.logo-text:active,
.logo-text:focus {
    color: #01CF01;
}
/* override yahoos pure-menu */
.pure-menu ul {
    visibility: visible;
    position: initial;
}

/* todo */
li .cont {
    height: 32px;
    position: absolute;
    right: 32px;
    top: 4px;
    width: 32px;
}

li a .plus-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    background-image: url(sprite-menu.svg);
    background-repeat: no-repeat;
    background-position: 0 -48px;
    opacity: 0.35;
    z-index: 5;

    -webkit-transition: -webkit-transform 0.250s ease-out 0s, opacity 0.215s ease-in-out 0s;
    transition: transform 0.250s ease-out 0s, opacity 0.215s ease-in-out 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

    li a .cont {
        width: 48px;
        height: 48px;
        right: 8px;
        top: 6px;
    }
.no-svg li a .plus-icon {
    background-image: url(sprite-menu.svg);
}

li a .cont:hover .plus-icon {
    opacity: 1;
}

li a .cont.active .plus-icon {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.250s ease-out 0s;
    transition: transform 0.250s ease-out 0s;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

    .header-menu {
        position: relative;
        height: px;
        width: 10%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    }

#my-menu,
.header-menu,
.wrap_all {
    -webkit-transition: left 0.215s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition: left 0.215s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.header-menu.moveNowLeft,
.wrap_all.moveNowLeft {
    left: 300px;
}

#my-menu.moveNowLeft {
    left: 0px;
}

