/* =========== */
/* Page Layout */
/* =========== */ 

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#layout {
    width: 100%;
    height: 100%;
}


#content {
    height: 100%;
    overflow: hidden;
    position: relative;
}


/* ============= */
/* General style */
/* ============= */

/* Firefox jumps around with fonts */
* {
    font-family: 'Lato', sans-serif;
}


body {
    background-color: #FFFFFF;
    color: #111111;
    font-family: 'Lato', sans-serif;
}

a:focus {
    outline: 0;
}

/* unvisited link */
a:link {
    color: #2AAF66;
}

/* visited link */
a:visited {
    color: #2AAF66;
}

/* mouse over link */
a:hover {
    color: #2AAF66;
}

/* selected link */
a:active {
    color: #2AAF66;
}

a::selection {
    color: #777;
}

::selection {
    background: #01AF31; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #01AF31; /* Gecko Browsers */
}

/* for youtube videos */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ====== */
/* NavBar */
/* ====== */


#navbar {
    width: 230px; 
    height: 100%;
}

#menu {
    width: 230px; 
    height: 100%;
    position: relative;
    background: #191818;
}

.nav-header {
    font-size: 125%;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-top: 0;
    padding: 0.5em 0.8em;
    line-height: 1.5em;
    display: block;

    left: 100px;
    text-transform; uppercase;
    text-decoration: none;
    color: white !important;
}

.nav-header:hover {
    color: #0f0 !important;
}

.nav-item {
    height: 3em;
    width: 100%;
    
    vertical-align: middle;
    padding: 1.125em 2em;

    color: #777 !important;

    text-outline: none;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
}

.nav-item-selected {
    background-color: #1f8d18;
    color: white !important;
    text-shadow: 1px 1px black;
}

.nav-item-selected span {
    color: white !important;
}

.nav-item:hover {
    background-color: #020202;
    color: white;
}


.nav-item-selected:hover {
    background-color: #014001;
}


/* =========== */
/* Menu toggle */
/* =========== */

.navbar-hidden {
    margin-left: -230px;
}


#content {
    position: absolute;
    top: 0;
    left: 230px;
    width: calc(100% - 230px);
    height: 100%;
    box-shadow: 7px 7px 20px rgba(1,1,1,0.3);
    z-index: 1;
}

.content-extended {
    left: 0px !important;
    width: calc(100%) !important;
}


/* ============ */
/* Menu sidebar */
/* ============ */

#title-bar {
    color: white;
    background: black;
    width: 44px;
}

.title-bar-logo {
    height: 60px;
    width: 300px;
    text-align: left;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;

    -ms-transform: rotate(90deg);
    -ms-transform-origin: 0px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 0px;
    transform: rotate(90deg);
    transform-origin: 0px;

    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.hamburger {
    width: 100%;
    height: 44px;
}


/* ===================== */
/* NoScript notification */
/* ===================== */

#javascript-notification {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    background: rgba(0, 255, 0, 0.5);
    text-align: center;
}


/* ========== */
/* Icon panel */
/* ========== */
#iconPanel {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: hidden;
}

#iconPanel.active {
    left: 230px;
}

#iconTable {
    width: 100%;
    height: 100%;
    border-top: 1px solid #333;
}


.icon {
    width: 57.5px;
    height: 50%;
    color: #777;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.icon span {
    color: #777;
    font-size: 120%;
}

.icon:hover {
    background: black;
}

.icon:hover span {
    color: #7D7;
}

.icontext {
    color: #777;
    font-size: 60%;
    font-family: "omnes-pro", sans-serif;
}

/* ============== */
/* Content styles */
/* ============== */

.centeredcontainer {
    text-align: center;
    display: table;
}

.centered {
    display: table-cell;
    vertical-align: middle;
}

.hcenter-container {
    text-align: center;
}

.hcenter {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: black;
}

#maincontent {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflox-x: auto;
}





/* ================= */
/* Functional styles */
/* ================= */


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}


.transition-slow {
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
}

.transition {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}



/* ================= */
/* ngAnimate classes */
/* ================= */


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ng-anim-fade.ng-enter,
    .ng-anim-fade.ng-enter.ng-enter-active,
    .ng-anim-fade.ng-leave,
    .ng-anim-fade.ng-leave.ng-leave-active {
        position: relative !important;
    }
}



.ng-anim-fade.ng-enter {
  opacity: 0;
}

.ng-anim-fade.ng-enter.ng-enter-active {
  opacity: 1;
}


.ng-anim-fade.ng-leave {
  opacity: 1;
}

.ng-anim-fade.ng-leave.ng-leave-active {
  opacity: 0;
}



/* ============================================================== */
/* ============================================================== */
/* ============================================================== */
/*                          PAGE STYLES                           */
/* ============================================================== */
/* ============================================================== */
/* ============================================================== */

/* ==== */
/* Home */
/* ==== */

.home-container {
    min-width: 640px;
}

.home-mainheader {
    font-size: 1000%;
    line-height: 0.2;
}

.home-subheader {
    font-size: 200%;
    line-height: 0;
}

.home-comment {
    padding-left: 12em;
}



/* ===== */
/* CV    */
/* ===== */

.cvcontainer {
    margin-top: 3%;
    width: 50%;
    min-width: 640px;
}

.cvcategory {
    text-align: left;
    line-height: 0;
    margin-top: 80px;
}

.cventry {
    margin-bottom: 30px;
}

.cvtable {
    display: table;
    width: 100%;
}

.cvrow {
    display: table-row;
    width: 100%;
}

.cvcell {
    display: table-cell;
}

.cvcell.left {
    text-align: left;

}

.cvcell.right {
    text-align: right;
}

.cvcell.cvcenter {
    text-align: justify;
}

.cvcell.title {
    text-transform: uppercase;
    font-size: 125%;
    color: black;
}

.cvcell.subtitle {

}

.cvcell.location {

}

.cvcell.description {

}

.cvcell.year {
}


/* ======== */
/* About me */
/* ======== */

.about-profilepic {
    box-sizing: border-box;
    margin-top: 2em;
    padding-right: 2em;
}

.about-container {
    width: 60%;
    min-width: 640px;
    max-width: 1024px;
    text-align: left;
}

.about-text {
}

.about-text h1 {
    font-family: 'Lato', sans-serif; 
    font-size: 250%;
}

.about-text p {
    font-family: 'Lato', sans-serif; 
    font-size: 125%;
}


/* ======== */
/* Projects */
/* ======== */


.proj-maincontainer {
    padding-top: 0px;
    min-width: 700px;
    width: 70%;
}

.proj-maintitle {
    margin-top: 5%;
    font-size: 300%;
    line-height: 0.2;
}

.proj-container {
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 640px;
    max-width: 1024px;
}

.proj-image {
    margin-top: 1.5em;
}

.proj-text {
    padding-left: 10px;
    box-sizing: border-box;
}

.proj-title {
    text-align: left;
}

.proj-data p {
    font-family: "Lato", sans-serif;
    font-size: 70%;
    text-align: left;
    text-transform: uppercase;
}

.proj-data a {
    text-transform: none;
}

.proj-description {
    text-align: justify;
}





/* ======= */
/* Contact */
/* ======= */

.contact-form-container {
    margin-top: 7%;
    width: 60%;
    min-width: 270px;
}

.contact-form {
    text-align: left;
    width: 100%;
}

.form-textarea {
    margin-bottom: 20px;
    height: 200px;
}

.form-error {
    color: red;
    float: right;
}

#form-submit {
    width: 20em;
}

/* ==================================================== */
/* Loading bar by http://codepen.io/Mattykins/pen/wfJqk */
/* ==================================================== */

#loadingcontainer {
  width: 100px;
  height: 122px;
  position: absolute;
  top: 45%;
  border-radius: 100%;
  left: calc(50% - 50px);
  text-align: center;
}

.loadinganimation {
  width: 100px;
  height: 102px;
  border-radius: 100%;
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}

.circle .inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid rgba(0, 255, 30, 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.circle-alt {
  width: 100%;
  height: 100%;
  position: absolute;
}

.circle-alt .inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid rgba(0, 240, 70, 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.circle:nth-of-type(0) {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.circle:nth-of-type(0) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.circle:nth-of-type(1) {
  -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
          transform: rotate(70deg);
}
.circle:nth-of-type(1) .inner {
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.circle:nth-of-type(2) {
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
}
.circle:nth-of-type(2) .inner {
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.loadinganimation {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}




/* ================================================================= */
/* Google Play store icon by http://codepen.io/jackfilose/pen/qEEQpa */
/* ================================================================= */

.burgerwrapper {
    position: absolute;
    left: 230px;
    top: 0px;
    background: #191818;
    cursor: pointer;
    z-index: 20;
}

.hamburger {
    display: block;
    width: 3em;
    height: 3em;
    position: relative;
    overflow: hidden;
    outline: none;
    transform: rotate(180deg);

    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.hamburger i {
    display: inline-block;
    width: 50%;
    height: 5%;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hamburger i:before, .hamburger i:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;

    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.hamburger i:before {
    top: -200%;
}
.hamburger i:after {
    bottom: -200%;
}

.hamburger.spin {
}

.spin180 .hamburger i:before, .spin180 .hamburger i:after {
    width: 50%;
    top: initial;
    right: 0;
    bottom: initial;
}
.spin180 .hamburger i:before {
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -moz-transform: rotate(45deg) translateX(6%);
    -ms-transform: rotate(45deg) translateX(6%);
    -webkit-transform: rotate(45deg) translateX(6%);
    transform: rotate(45deg) translateX(6%);
    top: 0;
}
.spin180 .hamburger i:after {
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -moz-transform: rotate(-45deg) translateX(6%);
    -ms-transform: rotate(-45deg) translateX(6%);
    -webkit-transform: rotate(-45deg) translateX(6%);
    transform: rotate(-45deg) translateX(6%);
}


