<FilesMatch ".(eot|ttf|otf|woff)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>

RewriteEngine   On
RewriteBase     /
RewriteCond     %{REQUEST_URI} !^(/img|/js|/css)
RewriteCond     %{REQUEST_FILENAME} !-f
RewriteCond     %{REQUEST_FILENAME} !-d
RewriteRule     .               /index.html              [L]

#ErrorDocument 500 /home
#ErrorDocument 404 /home
#ErrorDocument 401 /home
