<FilesMatch ".(eot|ttf|otf|woff)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>

#ErrorDocument 500 /content/error.php
#ErrorDocument 404 /content/error.php
#ErrorDocument 401 /content/error.php
