---
layout: default
title: Sebastian Hubenschmid
---

<h1>About me</h1>
<section class="mono">
    <ul class="bullet-list">
        <li>Postdoctoral Research Fellow at Aarhus University, Denmark</li>
        <li>Ph.D. (Dr. rer. nat.) in Computer Science, University of Konstanz, Germany</li>
        <li>Former Research Assistant at the Human-Computer Interaction Group, University of Konstanz, Germany</li>
        <li>Former Senior Software Developer at ionCube Ltd., Canterbury, UK </li>
    </ul>
</section>


<h1>Highlighted Research</h1>
<section class="publications highlighted">

    <section class="about">
        My research combines <b>human-computer interaction</b>, <b>mixed reality</b>, and <b>visual analytics</b>.
        My work focuses on the field of <b>hybrid user interfaces</b>, which use cross-device interaction with complementary device technologies.
        In addition, my work on <b>ambient analytics</b> aims to bring calm computing to mixed reality by integrating immersive data visualizations harmoniously into the physical environment.
    </section>

    {% assign hl_publications = site.data.publications | where: "highlighted", true | sort: "sort" | reverse %}
    {% for publication in hl_publications %}
    <section class="publication highlighted">
        <div class="info">
            <div class="title small"><a href="https://doi.org/{{ publication.doi }}">{{ publication.title }}</a></div>
        </div>

    </section>
    {% endfor %}
</section>


<h1> Publications </h1>
<section class="publications">

    {% assign publications = site.data.publications | where_exp:"type","type != null" | sort: "sort" | reverse %}
    {% for publication in publications %}
    <section class="publication">
        <div class="info">
            <div class="title">{{ publication.title }}</div>

            <span class="authors">
                {% for author in publication.authors %}
                <span
                    {% if author.first == 'Sebastian' and author.last == 'Hubenschmid' %}
                    class="me"
                    {% endif %}
                    >
                    {% if author.equal %}<abbr title="Contributed equally">{% endif %}
                    {{ author.first }} {{ author.last }}{% if author.equal %}<sup>*</sup></abbr>{% endif %}{% if forloop.last != true %},{% else %}.{% endif %}
                </span>
                {% endfor %}
            </span>

            <br/>

            <span>{{ publication.year }}</span>
            <span class="separator">/</span>
            <span class="conference">{{ publication.conference }}.</span>

        </div>

        {% if publication.doi or publication.bibtex %}
        <div class="citation">
            {% if publication.bibtex %}
            <input type="checkbox" id="{{publication.bibtex}}" class="bibtex-checkbox">
            <label for="{{publication.bibtex}}" class="bibtex-label">BibTeX</label>
            {% endif %}

            {% if publication.doi and publication.bibtex %}
            <span class="separator">/</span>
            {% endif %}

            {% if publication.doi %}
            <span class="doi">
                DOI:
                <a href="https://doi.org/{{publication.doi}}" target="_blank" rel="noopener">{{publication.doi}}</a>
            </span>
            {% endif %}

            {% if publication.bibtex %}
            <div class="bibtex-content">
                {% capture bibtex %}
                    {% assign bib_file = "/bib/" | append: publication.bibtex | append: ".bib" %}
                    {% raw_include_relative {{bib_file}} %}
                {% endcapture %}
                <pre><code>{{ bibtex | strip | escape }}</code></pre>

                <a href="/bib/{{ publication.bibtex }}.bib" class="download-button" download>
                    <span class="icon"></span>
                </a>
            </div>
            {% endif %}

        </div>
        {% endif %}

        <div class="links">
            {% for link in publication.links %}
            <a class="link" href="{{link.url}}" target="_blank" rel="noopener">
                <span class="text">{{link.name}}</span>
            </a>
            {% endfor %}
        </div>

    </section>
    {% endfor %}
</section>


<h1> Workshops </h1>

<section class="publications">

    {% assign workshops = site.data.workshops | where_exp:"type","type != null" | sort: "sort" | reverse %}
    {% for workshop in workshops %}
    <section class="publication">
        <div class="title">{{ workshop.title }}</div>

        <div class="info">
            <span class="authors">
                {% for author in workshop.authors %}
                <span
                    {% if author.first == 'Sebastian' and author.last == 'Hubenschmid' %}
                    class="me"
                    {% endif %}
                    >
                    {{ author.first }} {{ author.last }}{% if author.equal %}<abbr title="Contributed equally"><sup>*</sup></abbr>{% endif %}{% if forloop.last != true %},{% else %}.{% endif %}
                </span>
                {% endfor %}
            </span>

            {% if workshop.conference %}
            <span>In:</span>
            <span class="conference">{{ workshop.conference }},</span>
            {% endif %}
            <span>{{ workshop.location }}.</span>
            <span>{{ workshop.year }}.</span>
        </div>

        {% if workshop.doi %}
        <div class="doi">DOI: <a href="https://doi.org/{{workshop.doi}}" target="_blank" rel="noopener">{{workshop.doi}}</a></div>
        {% endif %}

        <div class="links">
            {% for link in workshop.links %}
            <a class="link" href="{{link.url}}" target="_blank" rel="noopener">
                <span class="icon icon-{{ link.type }}"></span>
                <span class="text">{{link.name}}</span>
            </a>

            {% endfor %}
        </div>

    </section>
    {% endfor %}

</section>

<h1>Contact</h1>

<section>
    <ul class="bullet-list">
        <li> <a target="_blank" rel="noopener" href="https://www.au.dk/en/ssh@cs.au.dk">University</a></li>
        <li> <a target="_blank" rel="noopener" href="https://github.com/SebiH">GitHub</a></li>
        <li> <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/sebastianhubenschmid">LinkedIn</a></li>
        <li> <a target="_blank" rel="noopener" href="https://instagram.com/s_hubenschmid/">Instagram</a></li>
        <li> <a target="_blank" rel="noopener" href="mailto:ssh@cs.au.dk">Email</a></li>
    </ul>
</section>
