<div id="backgroundimage"> </div>

<div id="maincontent" class="centeredcontainer" ng-controller="ContactController">

    <div class="contact-form-container centered" ng-hide="formSent">
        <h1>
            Want to tell me something?
        </h1>

        <div class="hcenter">
            <form name="form" class="pure-form contact-form" novalidate ng-submit="form.$valid && send()">

                <label for="name">
                    <span> Name*: </span>
                    <span class="form-error" ng-if="(form.$submitted || form.name.$touched) && form.name.$error.required"> 
                        Please tell me your name 
                    </span>
                </label>
                <input ng-model="data.name" name="name" class="pure-input-1" required>


                <label for="email">
                    <span> Email*: </span>
                    <span class="form-error" ng-if="(form.$submitted || form.email.$touched) && (form.email.$error.required || form.email.$error.email)">
                        Please enter a valid Email address 
                    </span>
                </label>
                <input ng-model="data.email" name="email" class="pure-input-1" type="email" required>

                <label for="subject">
                    <span> Subject: </span>
                </label>
                <input ng-model="data.subject" name="subject" class="pure-input-1">

                <label for="message">
                    <span> Message*: </span>
                    <span class="form-error" ng-if="(form.$submitted || form.message.$touched) && form.message.$error.required"> 
                        You need to enter a message 
                    </span>
                </label>
                <textarea class="pure-input-1 form-textarea" ng-model="data.message" name="message" type="text" required></textarea>

                <div>
                    <button id="form-submit" class="pure-button pure-button-primary" type="submit">
                        Send!
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="centered" ng-show="formSent">
        <div class="hcenter">
            <h1> Thanks for the message! </h1>
        </div>
    </div>
</div>

