@charset "UTF-8";

$indent-outer: 0.8em;
$indent-inner: 1.4em;


/* --------------
 * General styles
 * -------------- */
html {
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-family: system-ui, sans-serif;
    color: $nord0;
}

body,
figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: $nord2;
}

@media only screen and (max-width: 64em) {
    /* For mobile phones: */
    h1 {
        font-size: 22px;
    }
}

#content {
    margin-bottom: 5rem;
}

::selection {
    background: $nord9; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: $nord9; /* Gecko Browsers */
}

a:focus {
}

a:link,
a:visited {
    color: $nord10;
    text-decoration: none;
}

a:hover {
    color: $nord9;
    text-decoration: underline;
}

a:active {
}

a::selection {
    color: $nord1;
}

ul {
    list-style: none;
    line-height: 1.2em;
    margin-left: $indent-outer;
    padding-left: $indent-inner;
    text-indent: -1.1em;
}

li {
    margin-bottom: 0.7em;
}

ul ol {
    text-indent: 0;
}

ul > li:before {
    font-family: monospace;
    content: "» ";
}



/* -----
 * Title
 * ----- */

#title {
    color: $nord3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;

    .name {
        font-size: 24px;
        text-align: center;
    }

    .social {
        margin-top: 5px;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    .icon {
        max-width: 64px;
        max-height: 64px;
        display: inline-block;
        margin: 0 0 0 20px;
        transition: fill 0.1s linear;
    }

    .icon:link,
    .icon:visited,
    .icon:active {
        fill: $nord3;
    }

    .icon:focus,
    .icon:hover {
        fill: $nord9;
    }
}

@media all and (min-width: 64em) {
    #title {
        .name {
            font-size: 42px;
        }
    }
}

@media all and (min-width: 28em) {
    #title {
        flex-direction: row;

        .name {
            text-align: left;
        }
    }
}

/* -------
 * Publications
 * ------- */

.publication {
    padding-left: $indent-inner;
    margin-left: $indent-outer;
    padding-bottom: 32px;
    
    position: relative;

    &:before {
        font-family: monospace;
        content: "» ";
        position: absolute;
        left: 6px;
        top: 4px;
    }

    &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 64px;
    }

    > * {
        margin-bottom: 0.5em;
    }

    .title {
        font-weight: 700;
        font-size: large;
        width: fit-content;
        line-height: 1.3em;
        margin-bottom: 5px;
    }

    .authors {
        .me {
            font-weight: bold;
        }

        margin-bottom: 5px;
    }

    .conference {
        font-style: italic;
    }

    .separator {
        @extend .noselect;
        margin: 0 10px;
    }

    .bibtex-checkbox {
        display: none;
    }

    .bibtex-content {
        display: none;
        background: $nord6;
        font-family: mono;
        padding: 5px 20px;
        position: relative;

        pre {
            white-space: pre-wrap;
        }
    }

    :checked ~ .bibtex-content {
        display: block;
    }

    .bibtex-label {
        color: $nord10;
        cursor: pointer;
    }

    .bibtex-label:hover {
        color: $nord9;
        text-decoration: underline;
    }

    .bibtex-label::before {
      content: "▶ "
    }

    :checked ~ .bibtex-label::before {
      content: "▼ ";
    }

    $data-svg-prefix: 'data:image/svg+xml;base64,';
    $download-icon: "PHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9IkludGVyZmFjZSAvIERvd25sb2FkIj4KPHBhdGggaWQ9IlZlY3RvciIgZD0iTTYgMjFIMThNMTIgM1YxN00xMiAxN0wxNyAxMk0xMiAxN0w3IDEyIiBzdHJva2U9IiM0YzU2NmEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjwvZz4KPC9zdmc+";

    .download-button {
        border: 2px solid $nord4;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.2s linear;

        display: flex;
        width: 30px;
        height: 30px;

        position: absolute;
        right: 20px;
        bottom: 20px;

        .icon {
            background-image: url($data-svg-prefix + $download-icon);
            border-radius: 4px 0 0 4px;

            transition: 0.2s linear;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 70%;
            height: 30px;
            width: 30px;
            display: inline-block;
        }
        
        &:hover {
          background-color: $nord4;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .link {
            border: 1px solid $nord4;
            border-radius: 4px;

            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 0;
            background: $nord6;
            position: relative;

            height: 2em;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            transition: background 0.2s linear;

            &:hover {
                background: $nord4;
                text-decoration: none;
            }

            .text {
                margin-left: 0.5em;
                margin-right: 0.5em;
                color: $nord2;
            }
        }
    }
}


.workshop {
    @extend .publication;
    border-color: $nord14;
}


/* -------
 * Utility
 * ------- */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

