---
layout: default
title: Sebastian Hubenschmid
---

<h1>About me</h1>
<section class="mono">
    <ul class="bullet-list">
        <li>Research assistant and Ph.D. student at the Human-Computer Interaction Group, University of Konstanz, Germany</li>
        <li>M.Sc. and B.Sc. in Computer Science, University of Konstanz, Germany</li>
        <li>Former Senior Software Developer for ionCube Ltd., Canterbury, UK </li>
    </ul>
</section>


<h1> Publications </h1>

{% assign publications = site.data.publications | where_exp:"type","type != null" | sort: "month" | sort: "year" | reverse %}
{% for publication in publications %}
<section class="publication">
    <div class="title">{{ publication.title }}</div>

    <div class="info">
        <span class="authors">
            {% for author in publication.authors %}
            <span
                {% if author.first == 'Sebastian' and author.last == 'Hubenschmid' %}
                class="me"
                {% endif %}
                >
                {{ author.first }} {{ author.last }}{% if forloop.last != true %},{% else %}.{% endif %}
            </span>
            {% endfor %}
        </span>

        <span>In:</span>
        <span class="conference">{{ publication.conference }}.</span>
        <span>{{ publication.year }}.</span>
    </div>

    {% if publication.doi %}
    <div class="doi">DOI: <a href="https://doi.org/{{publication.doi}}">{{publication.doi}}</a></div>
    {% endif %}

    <div class="links">
        {% for link in publication.links %}
        <div class="link">
            <a href="{{link.url}}">
                <span class="icon icon-{{ link.type }}"></span>
                <span class="text">{{link.name}}</span>
            </a>
        </div>

        {% if forloop.last != true %}
        <div class="spacer"></div>
        {% endif %}

        {% endfor %}
    </div>

    <div class="tags">
        <div class="tag">
            <span class="icon icon-conference">
            </span>
            <span class="text">
                {{ publication.conference_short }}
            </span>
        </div>
        <div class="tag">
            <span class="icon icon-type">
            </span>

            <span class="text">
                {{ publication.type }}
            </span>
        </div>
    </div>

</section>
{% endfor %}


<h1>Contact</h1>

<section>
    <ul class="bullet-list">
        <li> <a href="https://hci.uni-konstanz.de/en/members/research-assistants/sebastian-hubenschmid/">University</a></li>
        <li> <a href="https://github.com/SebiH">GitHub</a></li>
        <li> <a href="https://www.linkedin.com/in/sebastianhubenschmid">LinkedIn</a></li>
        <li> <a href="https://twitter.com/Sebi__H">Twitter</a></li>
        <li> <a href="mailto:info@sebi.sh">Email</a> (<a href="/ssh-pubkey.txt">GPG Key</a>)</li>
    </ul>
</section>

