---
layout: default
group: navigation
subgroup: projects
weight: 2
title: Projects
navigation: Projects
permalink: /projects/
---

<!-- begin spf head -->
<!-- end spf head -->

<!-- begin spf body: content -->
{% assign projects = site.pages | sort:"weight" | where:"group","projects" %}
{% for project in projects %}
<h1> {{project.title}} </h1>
<div class="project-entry">
    <div class="project-img">
        <img class="responsive-img" src="{{project.url}}{{project.image}}" alt="Project screenshot">
    </div>
    <div class="project-abstract">
        {{project.abstract | markdownify}}
    </div>
    <!--<a href="{{project.url}}" class="spf-link"> Read more &gt; </a>-->
</div>

    {% if forloop.last == false %}
    <hr class="separator">
    {% endif %}

{% endfor %}
<!-- end spf body: content -->

<!-- begin spf foot -->
<!-- end spf foot -->

