---
layout: centered
group: navigation
subgroup: publications
weight: 3
title: Projects
navigation: Publications
permalink: /publications/
styles:
    - publications
---

{% assign conference_papers = site.data.publications | where:"type","conference_paper" | sort: "date" | reverse %}
{% assign workshop_papers = site.data.publications | where:"type","workshop_paper" | sort: "date" | reverse %}
{% assign theses = site.data.publications | where:"type","thesis" | sort: "date" | reverse %}
{% assign projects = site.data.projects | where:"type","project" | sort: "date" | reverse %}

<h1> Publications </h1>

<h2> Conference Paper </h2>

{% for paper in conference_papers %}
<section>
    <div style="font-weight: 900;">{{ paper.title }}</div>

    <div class="authors">
        {% for author in paper.authors %}
        <span>
            {{ author.last }}, {{ author.first }}{% if forloop.last != true %};{% endif %}
        </span>
        {% endfor %}
    </div>

    <div style="font-style: italic;">{{ paper.conference }}</div>
    <div class="doi">DOI: <a href="https://doi.org/{{paper.doi}}">{{paper.doi}}</a></div>
    <div>
        {% for link in paper.links %}
        <a href="{{link.url}}">[{{link.name}}]</a>
        {% endfor %}
    </div>
</section>
{% endfor %}


<h2> Workshop Paper </h2>

{% for paper in workshop_papers %}
<section>
    <div style="font-weight: 900;">{{ paper.title }}</div>

    <div class="authors">
        {% for author in paper.authors %}
        <span>
            {{ author.last }}, {{ author.first }}{% if forloop.last != true %};{% endif %}
        </span>
        {% endfor %}
    </div>

    <div style="font-style: italic;">{{ paper.conference }}</div>
    <div>
        {% for link in paper.links %}
        <a href="{{link.url}}">[{{link.name}}]</a>
        {% endfor %}
    </div>
</section>
{% endfor %}


<h2> Thesis </h2>

{% for thesis in theses %}
<section>
    <div style="font-weight: 900;">{{ thesis.title }}</div>
    {% if thesis.subtitle %}
    <div style="font-weight: 100;">{{ thesis.subtitle }}</div>
    {% endif %}

    <div class="authors">
        {% for author in thesis.authors %}
        <span>
            {{ author.last }}, {{ author.first }}{% if forloop.last != true %};{% endif %}
        </span>
        {% endfor %}
    </div>

    <div>
        <span>{{ thesis.degree }}</span>,
        <span>{{ thesis.date }}</span>,
        <span style="font-style: italic;">{{ thesis.university }}</span>
    </div>
    <div>
        {% for link in thesis.links %}
        <a href="{{link.url}}">[{{link.name}}]</a>
        {% endfor %}
    </div>
</section>
{% endfor %}


<h2> Projects </h2>

{% for project in projects %}
<section>
    <div style="font-weight: 900;">{{ project.title }}</div>
    <div> {{ project.description }} </div>
    <div>
        {% for link in project.links %}
        <a href="{{link.url}}">[{{link.name}}]</a>
        {% endfor %}
    </div>

    {% if forloop.last == false %}
    <hr class="separator"/>
    {% endif %}
</section>

{% endfor %}

