/* --------------
 * General styles
 * -------------- */
html {
    color: #444;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.7;
    text-rendering: auto;
    /* Prevents page from jumping / moving when scrollbar appears */
    margin-left: calc(100vw - 100%);
}

body {
    margin: 0;
}

div, p {
    font-family: monospace;
}

h1, h2, h3 {
    color: #666;
    font-family: 'GeosansLight', sans-serif;
    font-weight: lighter;
    font-size: 1.8em;
    margin: 0.1em 0;
}

h1 {
    font-size: 2.4em;
}

::selection {
    background: #BBB; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #BBB; /* Gecko Browsers */
}

a:focus {
    outline: 0;
}

a:link {
    color: #000;
    fill: #000;
}

a:visited {
    color: #666;
    fill: #666;
}

a:hover {
    color: #666;
    fill: #666;
    text-decoration: underline;
}

a:active {
    color: #888;
    fill: #888;
}

a::selection {
    color: #777;
    fill: #777;
}

p {
    text-align: justify;
}


/* -----------
 * Site layout
 * ----------- */

#layout {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 30px;
    padding: 0 1.5rem;

    /* Transition smoothly on resize */
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#body {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#title {
    position: relative;
}

#navigation {
    position: relative;
    vertical-align: top;
    width: 100%;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#content {
    position: relative;
    vertical-align: top;
    width: 100%;
}


@media all and (min-width: 64em) {
    #layout {
        padding-left: 10px;
    }

    #body {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    #navigation {
        margin-top: 10px;
        width: 170px;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    #content {
        width: calc(100% - 170px);
    }
}


/* ----------
 * Navigation
 * ---------- */

.menu-list {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.7;
}

.menu-item {
    display: inline;
    width: 120px;
    padding: 0;
    margin: 0;
    position: relative;
}


.menu-link {
    font-family: monospace;
    color: #444;
    text-decoration: none;
    line-height: 2.2;
}

.menu-link:focus {

}

.menu-link:link {
    color: #666;
    fill: #666;
}

.menu-link:visited {
}

.menu-link:hover {
    font-weight: bold;
}

.menu-link:active {

}

.menu-link:before {
    content: "// ";
}

.menu-link.selected {
    font-weight: bold;
    text-decoration: underline;
}

/* Transform menu into horizontal menu */
@media all and (min-width: 28em) {
    .menu-item {
        width: inherit;
        padding: 5px;
    }
}

@media all and (min-width: 64em) {
    .menu-item {
        display: inline-block;
        padding: 0;
    }
}



/* -----
 * Title
 * ----- */

.title-name {
    font-size: 22px;
    font-family: 'GeosansLight', sans-serif;
    color: #666;
    line-height: 2;
    text-align: center;
}

.title-social {
    position: relative;
    text-align: center;
}

.title-line {
    margin-top: -5px;
}

.icon {
    max-width: 64px;
    max-height: 64px;
    display: inline-block;
    margin: 3px;
}

.icon a {
    transition: fill 0.2s linear;
}

.icon a:link,
.icon a:visited,
.icon a:active {
    fill: #888;
}

.icon a:focus,
.icon a:hover {
    fill: #444;
}

@media all and (min-width: 64em) {
    .title-name {
        font-size: 38px;
    }

    .icon {
        margin: 10px;
    }
}

@media all and (min-width: 28em) {
    .title-social {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .title-name {
        text-align: left;
    }
}

/* ------
 * Index
 * ------ */


.profile-picture {
    box-sizing: border-box;
    padding-right: 0;
    width: 25%;
}

@media all and (min-width: 64em) {
    .profile-picture {
        padding-right: 2em;
    }
}

@media all and (min-width: 28em) {
    .profile-picture {
        padding-right: 1em;
    }
}

.bullet-list {
}

.bullet-list > div {
    padding-left: 2em;
}

.bullet-list > div:before {
    content: ">";
    position: absolute;
    margin-left: -1em;
}

.gallery {

}

.gallery > div {
    padding: 10px;
    box-sizing: border-box;
}

/* --------
 * Projects
 * -------- */

.project-entry {
}

.project-img {
    margin-top: 1.5em;
    width: 200px;
}

.project-abstract {
    padding: 0 10px;
}

.project-text > h1 {
    font-size: 1.5em;
}

@media all and (min-width: 64em) {
    .project-entry {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/* ---
 * 404
 * --- */

.error-404-title {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0.2em;
}

/* -------
 * Utility
 * ------- */

.row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.responsive-img {
    display: block;
    width: 100%;
    height: auto;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 1), rgba(200, 200, 200, 0));
}

/* -------
 * Contact
 * ------- */

@media all and (min-width: 48em) {
    .pre-container {
        display: inline-block;
    }
}

pre {
    background: #ddd;
    padding: 10px;
    font-size: 12px;
    overflow: auto;
}

h1.compact, h2.compact, h3.compact {
    margin-bottom: 0;
}

