/* --------------
 * General styles
 * -------------- */
html {
    color: #444;
    font-weight: lighter;
    font-size: 105%;
    line-height: 1.7;
    /* Prevents page from jumping / moving when scrollbar appears */
    margin-left: calc(100vw - 100%);
}

div, p {
    font-family: monospace;
}

h1, h2, h3 {
    color: #666;
    font-family: 'Pavanam', sans-serif;
    font-weight: lighter;
}

::selection {
    background: #BBB; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #BBB; /* Gecko Browsers */
}

a:focus {
    outline: 0;
}

a:link {
    color: #000;
    fill: #000;
}

a:visited {
    color: #666;
    fill: #666;
}

a:hover {
    color: #666;
    fill: #666;
    text-decoration: underline;
}

a:active {
    color: #888;
    fill: #888;
}

a::selection {
    color: #777;
    fill: #777;
}

p {
    text-align: justify;
}


/* -----------
 * Site layout
 * ----------- */

#layout {
    position: relative;
    max-width:1020px;
    margin:0 auto;
    padding:0 30px;
    padding:0 1.5rem;

    /* Transition smoothly on resize */
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


#title {
    position: relative;
}

#menu {
    position: relative;
    vertical-align: top;
}

#content {
    position: relative;
    vertical-align: top;
    margin-top: -15px;
}


@media screen and (min-width: 48em) {
    #layout {
        padding-left: 10px;
    }

    #menu {
        margin-top: 15px;
    }
}


/* ----
 * Menu
 * ---- */

.custom-menu-item {
    width: 120px;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}


.custom-menu-link {
    font-family: monospace;
    color: #444;
    text-decoration: none;
    line-height: 2.2;
}

.custom-menu-link:focus {

}

.custom-menu-link:link {
    color: #666;
    fill: #666;
}

.custom-menu-link:visited {
}

.custom-menu-link:hover {
    font-weight: bold;
}

.custom-menu-link:active {

}

.custom-menu-link:before {
    content: "// ";
}

.custom-menu-link.selected {
    font-weight: bold;
    text-decoration: underline;
}

/* Transform menu into horizontal menu */
@media screen and (max-width: 48em) {
    .custom-menu {
        width: 100%;
        white-space: nowrap;
    }

    .menu-item {
        display: inline-block;
    }
}

@media screen and (max-width: 28em) {
    .custom-menu-item {
        width: inherit;
        padding: 5px;
    }
}



/* -----
 * Title
 * ----- */

.title-name {
    font-size: 38px;
    font-family: 'Pavanam', sans-serif;
    color: #666;
    line-height: 2;
}

.title-social {
    position: absolute;
    right: 0;
    bottom: 0;
}

.title-line {
    margin-top: -5px;
}

.icon {
    max-width: 64px;
    max-height: 64px;
    display: inline-block;
    margin: 10px;
}

.icon a:link,
.icon a:visited,
.icon a:active {
    fill: #888;
}

.icon a:focus,
.icon a:hover {
    fill: #444;
}

@media screen and (max-width: 48em) {
    .title-name {
        font-size: 22px;
    }

    .icon {
        margin: 3px;
    }
}

@media screen and (max-width: 28em) {
    .title-social {
        position: relative;
        text-align: center;
    }

    .title-name {
        text-align: center;
    }
}

/* ------
 * Index
 * ------ */


.profile-picture {
    box-sizing: border-box;
    padding-right: 2em;
}

.bullet-list {
}

.bullet-list > div {
    padding-left: 2em;
}

.bullet-list > div:before {
    content: ">";
    position: absolute;
    margin-left: -1em;
}

.gallery {

}

.gallery > div {
    padding: 10px;
    box-sizing: border-box;
}

/* --------
 * Projects
 * -------- */

.project-entry {
    min-height: 300px;
}

.project-img {
    margin-top: 1.5em;
}

.project-text {
    padding: 0 10px;
}

.project-text > h1 {
    font-size: 1.5em;
}

/* -------
 * Utility
 * ------- */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 1), rgba(200, 200, 200, 0));
}


