<div class="pure-menu custom-menu">
        <ul class="pure-menu-list">
            <li class="custom-menu-item menu-item">
                <a href="/" class="custom-menu-link selected">Home</a>
            </li>

            <li class="custom-menu-item menu-item">
                <a href="/projects" class="custom-menu-link">Projects</a>
            </li>

            <li class="custom-menu-item menu-item">
                <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#101;&#98;&#105;&#46;&#115;&#104;" class="custom-menu-link">Contact</a>
            </li>
        </ul>
</div>

