<div class="name"> Sebastian Hubenschmid </div>
<div class="social noselect">
    <a rel="noopener" class="icon" href="https://hci.uni-konstanz.de/en/members/research-assistants/sebastian-hubenschmid/" title="University">
        {% include sprites/flask.svg width=20 height=20 %}
    </a>

    <a rel="noopener" class="icon" href="https://github.com/SebiH" title="GitHub">
        {% include sprites/github.svg width="20" height="20" %}
    </a>

    <a rel="noopener" class="icon" href="https://www.linkedin.com/in/sebastianhubenschmid" title="LinkedIn">
        {% include sprites/linkedin.svg width=20 height=20 %}
    </a>

    <a rel="noopener" class="icon" href="https://twitter.com/Sebi__H" title="Twitter">
        {% include sprites/twitter.svg width=20 height=20 %}
    </a>
</div>


