<div class="title-name"> Sebastian Hubenschmid </div>
<div class="title-social noselect">
    <div class="icon">
        <a href="https://github.com/SebiH">
            {% include sprites/github.svg width="20" height="20" %}
        </a>
    </div>

    <div class="icon">
        <a href="http://stackoverflow.com/users/4090817/sebih">
            {% include sprites/stack-overflow.svg width="20" height="20" %}
        </a>
    </div>

    <div class="icon">
        <a href="https://www.linkedin.com/in/sebastianhubenschmid">
            {% include sprites/linkedin.svg width=20 height=20 %}
        </a>
    </div>

    <div class="icon">
        <a href="http://hci.uni.kn/staff/Hubenschmid">
            {% include sprites/flask.svg width=20 height=20 %}
        </a>
    </div>
</div>

<hr class="title-line separator" />

