---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div id="layout">
            <div id="title">
                {% include title.html %}
            </div>

            <div id="body">
                <nav id="navigation">
                    {% include navigation.html %}
                </nav>

                <main id="content">
                    {{ content }}
                </main>
            </div>
        </div>
    </body>
</html>

