<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div id="layout">
            <div id="title">
                {% include title.html %}
            </div>

            <div class="pure-g">
                <nav id="menu" class="pure-u-1 pure-u-md-3-24">
                    {% include menu.html %}
                </nav>

                <main id="content" class="pure-u-1 pure-u-md-21-24">
                    {{ content }}
                </main>
            </div>
        </div>
    </body>
</html>

