---
xlayout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

    <body data-ng-app="SeHub" data-ng-controller="NavigationController" data-ng-cloak>

        <div class="layout">

            <!-- Menubar -->
            {% include menu.html %}


            <!-- Content -->
            <main class="content transition" data-ng-class="{'content-extended': !showMenu}">
                <div data-ui-view class="ng-anim-fade transition" style="width: 100%; height: 100%;">
                    {{ content() }}

                    <!--
                    <div class="loading-container">
                        <div class="animation">
                          <div class="circle">
                            <div class="inner"></div>
                          </div>
                          <div class="circle">
                            <div class="inner"></div>
                          </div>
                          <div class="circle">
                            <div class="inner"></div>
                          </div>
                          <div class="circle">
                            <div class="inner"></div>
                          </div>
                          <div class="circle-alt">
                            <div class="inner"></div>
                          </div>
                        </div>
                        <div class="text">
                            <p> Loading ... </p>
                            <p class="show-noscript"> (You must have JavaScript enabled) </p>
                        </div>
                    </div>
                    -->
                </div>

            </main>

        </div>


        <div class="show-noscript noscript-warning">
            Please enable JavaScript, as some things on this site rely on AngularJS.
        </div>


        <!-- AngularJS -->
        <script> {% include js/angular/angular.min.js %} </script>
        <script> {% include js/angular-animate/angular-animate.min.js %} </script>

        <!-- UI-Router -->
        <script> {% include js/ui-router/release/angular-ui-router.min.js %}</script>

        <!-- Custom app -->
        <script> {% include js/sebi.min.js %} </script>

    </body>

</html>

