@charset "UTF-8";

$max-width: 40rem;
$indent-outer: 1.2em;
$indent-inner: 1em;


/* --------------
 * General styles
 * -------------- */
html {
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-family: system-ui, sans-serif;
    color: $nord0;
}

body,
figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: $nord2;
}

@media only screen and (max-width: 64em) {
    /* For mobile phones: */
    h1 {
        font-size: 22px;
    }
}

#content {
    margin-bottom: 5rem;
}

::selection {
    background: $nord9; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: $nord9; /* Gecko Browsers */
}

a:focus {
}

a:link,
a:visited {
    color: $nord10;
    text-decoration: none;
}

a:hover {
    color: $nord9;
    text-decoration: underline;
}

a:active {
}

a::selection {
    color: $nord1;
}

ul {
    list-style: none;
    line-height: 1.2em;
    margin-left: $indent-outer;
    padding-left: $indent-inner;
    text-indent: -1.1em;
}

li {
    margin-bottom: 0.7em;
}

ul ol {
    text-indent: 0;
}

ul > li:before {
    font-family: monospace;
    content: "» ";
}



/* -----
 * Title
 * ----- */

#title {
    color: $nord3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;

    .name {
        font-size: 24px;
        text-align: center;
    }

    .social {
        margin-top: 5px;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    .icon {
        max-width: 64px;
        max-height: 64px;
        display: inline-block;
        margin: 0 0 0 20px;
        transition: fill 0.1s linear;
    }

    .icon:link,
    .icon:visited,
    .icon:active {
        fill: $nord3;
    }

    .icon:focus,
    .icon:hover {
        fill: $nord9;
    }
}

@media all and (min-width: 64em) {
    #title {
        .name {
            font-size: 42px;
        }
    }
}

@media all and (min-width: 28em) {
    #title {
        flex-direction: row;

        .name {
            text-align: left;
        }
    }
}

/* -------
 * Publications
 * ------- */

$data-svg-prefix: 'data:image/svg+xml;base64,';
$icons: (
    'tag':    'PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjNEM1NjZBIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwtOTUyLjM2MjE4KSI+PHBhdGggc3R5bGU9ImNvbG9yOiMwMDAwMDA7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZTsiIGQ9Im0gODUuODYzNTc1LDk2Ni40OTg1NiAtMzIuMTI5MTYsLTEuODExOTYgLTQxLjQwOTk1LDQxLjQxIDMzLjk0MTEzLDMzLjk0MTIgNDEuNDA5OTQsLTQxLjQxMDA0IC0xLjgxMTk2LC0zMi4xMjkxOSB6IG0gLTE0Ljg0OTI0LDE0Ljg0OTI1IGMgMi4zNDMxLDIuMzQzMjQgMi4zNDMxNSw2LjE0MjE1IDAsOC40ODUyOCAtMi4zNDMxMSwyLjM0MzE3IC02LjE0MjE5LDIuMzQzMjQgLTguNDg1MjgsMCAtMi4zNDMxMiwtMi4zNDMxMiAtMi4zNDMxMSwtNi4xNDIxMSAwLC04LjQ4NTI4IDIuMzQzMTUsLTIuMzQzMTMgNi4xNDIxNiwtMi4zNDMxMiA4LjQ4NTI4LDAgeiIgZmlsbD0iIzRDNTY2QSIgc3Ryb2tlPSJub25lIiBtYXJrZXI9Im5vbmUiIHZpc2liaWxpdHk9InZpc2libGUiIGRpc3BsYXk9ImlubGluZSIgb3ZlcmZsb3c9InZpc2libGUiPjwvcGF0aD48L2c+PC9zdmc+',
    'mark':     'PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjNEM1NjZBIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGc+PHBhdGggZD0iTTIwLjA5Miw5Mi43MDJjMCwwLjk5MSwwLjgwNywxLjc5OCwxLjc5OCwxLjc5OHMxLjc5OC0wLjgwNywxLjc5OC0xLjc5OFY1NC4xNzhsMC4zMTItMC4xMjZsNTQuNzg4LTIyLjI1MyAgICBjMC42ODItMC4yNzYsMS4xMjEtMC45MzEsMS4xMjEtMS42NjZzLTAuNDM5LTEuMzktMS4xMjEtMS42NjZMMjIuNTEyLDUuNjE2Yy0wLjEzNy0wLjA0NS0wLjIyOS0wLjA2OS0wLjMyNi0wLjA4NUwyMS43OCw1LjUxMyAgICBjLTAuMDQ4LDAuMDAzLTAuMDk2LDAuMDA3LTAuMTQ0LDAuMDE1Yy0wLjA5OSwwLjAxNC0wLjE4NiwwLjAzNS0wLjI3MiwwLjA2MmwtMC4zLTAuNDNsMC4xODEsMC40NjcgICAgYy0wLjE0LDAuMDU0LTAuMjU1LDAuMTExLTAuMzUzLDAuMTc3bC0wLjA1NywwLjAzOGMtMC4wODEsMC4wNjEtMC4xNjUsMC4xMzctMC4yNTEsMC4yMjlMMjAuNSw2LjE3NCAgICBjLTAuMDUzLDAuMDY1LTAuMTA3LDAuMTQtMC4xNTMsMC4yMmMtMC4wMjQsMC4wNDEtMC4wNDYsMC4wNzktMC4wNjUsMC4xMTljLTAuMDQyLDAuMDg2LTAuMDc1LDAuMTc2LTAuMTA0LDAuMjdMMTkuNjU4LDYuNzd2MCAgICBsMC40ODYsMC4xMTZjLTAuMDM2LDAuMTU0LTAuMDUzLDAuMjg3LTAuMDUzLDAuNDEyVjkyLjcwMnoiPjwvcGF0aD48cG9seWdvbiBwb2ludHM9IjIyLjc1NCw1LjE2OSAyMi43NTQsNS4xNjkgMjIuNzU0LDUuMTY5ICAgIj48L3BvbHlnb24+PC9nPjwvZz48L3N2Zz4=',
    'pdf': 'PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjNEM1NjZBIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4PSIwcHgiIHk9IjBweCI+PHRpdGxlPkNyZWF0b3IgSWNvbl8yNTwvdGl0bGU+PHBhdGggZD0iTTIzLjY3Mjg1LDE2LjYzMDg2VjgzLjM2OTE0YS45OTk0Mi45OTk0MiwwLDAsMCwxLDFoNTAuNjU0M2EuOTk5NDIuOTk5NDIsMCwwLDAsMS0xVjE2LjYzMDg2YS45OTk0Mi45OTk0MiwwLDAsMC0xLTFIMjQuNjcyODVBLjk5OTQyLjk5OTQyLDAsMCwwLDIzLjY3Mjg1LDE2LjYzMDg2Wm0yLDFoNDguNjU0M1Y4Mi4zNjkxNEgyNS42NzI4NVoiPjwvcGF0aD48cGF0aCBkPSJNNjUuMDk5NjEsMjguNDg1MzVIMzQuNDIwOWExLDEsMCwwLDAsMCwySDY1LjA5OTYxYTEsMSwwLDAsMCwwLTJaIj48L3BhdGg+PHBhdGggZD0iTTQyLjE4MzU5LDQ1LjEzODY3SDM0LjQyMDlhMSwxLDAsMCwwLDAsMmg3Ljc2MjdhMSwxLDAsMCwwLDAtMloiPjwvcGF0aD48cGF0aCBkPSJNNDYuMTU3MjMsNDcuMTM4NjdoNy43NjI3YTEsMSwwLDAsMCwwLTJoLTcuNzYyN2ExLDEsMCwwLDAsMCwyWiI+PC9wYXRoPjxwYXRoIGQ9Ik02NS4wMjE0OCw0NS4xMzg2N2gtNy43NjI3YTEsMSwwLDAsMCwwLDJoNy43NjI3YTEsMSwwLDAsMCwwLTJaIj48L3BhdGg+PHBhdGggZD0iTTQyLjE4MzU5LDU3LjUxNjZIMzQuNDIwOWExLDEsMCwwLDAsMCwyaDcuNzYyN2ExLDEsMCwwLDAsMC0yWiI+PC9wYXRoPjxwYXRoIGQ9Ik00Ni4xNTcyMyw1OS41MTY2aDcuNzYyN2ExLDEsMCwxLDAsMC0yaC03Ljc2MjdhMSwxLDAsMCwwLDAsMloiPjwvcGF0aD48cGF0aCBkPSJNNjUuMDIxNDgsNTcuNTE2NmgtNy43NjI3YTEsMSwwLDAsMCwwLDJoNy43NjI3YTEsMSwwLDAsMCwwLTJaIj48L3BhdGg+PHBhdGggZD0iTTQyLjE4MzU5LDY4Ljc5OThIMzQuNDIwOWExLDEsMCwwLDAsMCwyaDcuNzYyN2ExLDEsMCwwLDAsMC0yWiI+PC9wYXRoPjxwYXRoIGQ9Ik02NS4wMjE0OCw2OC43OTk4SDQ2LjE1NzIzYTEsMSwwLDAsMCwwLDJINjUuMDIxNDhhMSwxLDAsMCwwLDAtMloiPjwvcGF0aD48L3N2Zz4=',
    'video': 'PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjNEM1NjZBIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwtOTUyLjM2MjE4KSI+PHBhdGggc3R5bGU9ImNvbG9yOiMwMDAwMDA7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZTsiIGQ9Im0gMjQuMDAwMDAzLDk3Mi4zNjIxNiBjIC04Ljg2Mzk0LDAgLTE2LjAwMDAwMDUsNy4xMzYwNiAtMTYuMDAwMDAwNSwxNiBsIDAsMjcuOTk5OTQgYyAwLDguODY0IDcuMTM2MDYwNSwxNi4wMDAxIDE2LjAwMDAwMDUsMTYuMDAwMSBsIDUxLjk5OTk5OSwwIGMgOC44NjM5NCwwIDE1Ljk5OTk5NSwtNy4xMzYxIDE1Ljk5OTk5NSwtMTYuMDAwMSBsIDAsLTI3Ljk5OTk0IGMgMCwtOC44NjM5NCAtNy4xMzYwNTUsLTE2IC0xNS45OTk5OTUsLTE2IGwgLTUyLDAgeiBtIDE2LDE2IDIxLjk5OTk5OSwxMy45OTk5NCAtMjIsMTQgMCwtMjcuOTk5OTQgeiIgZmlsbD0iIzRDNTY2QSIgc3Ryb2tlPSJub25lIiBtYXJrZXI9Im5vbmUiIHZpc2liaWxpdHk9InZpc2libGUiIGRpc3BsYXk9ImlubGluZSIgb3ZlcmZsb3c9InZpc2libGUiPjwvcGF0aD48L2c+PC9zdmc+',
);

.publication {
    $line-width: 6px;
    border-left: $line-width solid $nord10;
    padding-left: $indent-inner;
    margin-bottom: 32px;
    margin-left: calc(#{$indent-outer} - #{$line-width});

    > * {
        margin-bottom: 0.5em;
    }

    .title {
        font-weight: 700;
    }


    .authors {
        .me {
            font-weight: 500;
        }
    }

    .conference {
        font-style: italic;
    }

    .links {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.6em;

        .spacer:before {
            margin: 0 0.2em;
            content: "";
        }

        .link {
            padding: 2px;
            margin-right: $indent-inner;

            position: relative;

            .icon {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 80%;
                position: absolute;
                top: -0.2em;
                left: -0.45em;
                height: 2em;
                width: 2em;

                &-pdf {
                    background-image: url( $data-svg-prefix + map-get( $icons, 'pdf' ) );
                }

                &-video {
                    background-image: url( $data-svg-prefix + map-get( $icons, 'video' ) );
                }
            }

            .text {
                margin-left: 1.5em;
            }
        }
    }

    .tags {
        display: flex;
        flex-direction: row;

        .tag {
            background: $nord6;
            padding: 2px;
            padding-right: 0.4em;
            margin-right: $indent-inner;

            position: relative;

            .icon {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 80%;
                position: absolute;
                top: 0.05em;
                left: 0;
                height: 1.5em;
                width: 1.5em;

                &-conference {
                    background-image: url( $data-svg-prefix + map-get( $icons, 'mark' ) );
                }

                &-type {
                    background-image: url( $data-svg-prefix + map-get( $icons, 'tag' ) );
                }
            }

            .text {
                margin-left: 1.6em;
            }
        }
    }
}


/* -------
 * Utility
 * ------- */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

