@charset "UTF-8";

%mono {
    font-family: monospace;
    font-weight: 300;
}

%center {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
