<div class="main-content hcenter-container">
    <div class="hcenter about-container">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-4">
                <img class="about-profilepic pure-img" src="{% base64 _images/profilepic.jpg %}" alt="Profile picture"/>
            </div>

            <div class="about-text pure-u-1 pure-u-md-3-4">
                <h1> About </h1>

                <h2> Me </h2>
                <ul> 
                    <li> {% include sprites/fontawesome/angle-double-right.svg %} Computer Science (B.Sc.) student at the University of Konstanz, Germany </li>
                    <li> {% include sprites/fontawesome/angle-double-right.svg %} Student Researcher for the Human-Computer Interaction Lab, University of Konstanz, Germany </li>
                    <li> {% include sprites/fontawesome/angle-double-right.svg %} Senior Software Developer for ionCube Ltd., Canterbury, UK </li>
                </ul>

                <h2> Contact </h2>
                <p>
                    Feel free to contact me at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#101;&#98;&#105;&#46;&#115;&#104;">&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#101;&#98;&#105;&#46;&#115;&#104;</a>
                </p>

                <h2> Website </h2>
                <p> 
                    This website serves as a central place for information about me, such as links to my social media profiles or public information about projects I participated in. The links provided in the sidebar do not represent all my presences on the internet, but these are the ones that I keep up-to-date. This site runs with <a rel="nofollow" href="http://phalconphp.com/en/" target="_blank">Phalcon</a>, all JavaScript interactions have been written with <a rel="nofollow" href="https://angularjs.org/" target="_blank">AngularJS</a>. The source code for this website is available on <a href="https://github.com/SebiH/PersonalWebsite" target="_blank"><span class="fa fa-github"></span> GitHub</a>
                </p>
            </div>
        </div>
    </div>
</div>


