<div class="main-content hcenter-container">
    <div class="hcenter proj-maincontainer">
        <h1 class="proj-maintitle"> Completed Projects </h1>


        <div class="proj-container">



            <div class="pure-g">
                <div class="pure-u-1">
                    <div class="video-wrapper proj-image"> <iframe style="border:0;" width="500" height="275" src="https://www.youtube.com/embed/H9adDld22HE" allowfullscreen></iframe> </div>                        </div>

                <div class="proj-text pure-u-1">

                    <h2 class="proj-title"> Quellentaucher </h2>
                    <hr/>
                    <div class="proj-data pure-g">


                        <div class="pure-u-1-2">
                            <p> Technologies used </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> C#, JavaScript, WPF, Heavy Webscraping, Numerous Web APIs (Twitter, Wikipedia, Wikimedia, WDR Digit...) </p>
                        </div>


                        <div class="pure-u-1-2">
                            <p> Timeframe </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> Sep 2013 - Oct 2014 </p>
                        </div>


                        <div class="pure-u-1-2">
                            <p> Project Homepage </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> <a href="http://hci.uni-konstanz.de/libros" target="_blank">http://hci.uni-konstanz.de/libros</a> </p>
                        </div>


                        <div class="pure-u-1-2">
                            <p> Project Blog </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> <a href="http://hci.uni-konstanz.de/libros-blog/" target="_blank">http://hci.uni-konstanz.de/libros-blog/</a>  </p>
                        </div>


                    </div>
                </div>
            </div>


            <div class="proj-description">

                <p> Quellentaucher is part of the librOS project and merges digitial and real aspects for researching information in public libaries. </p>

                <p> When entering the library, users are invited to approach the installation by a motion tracking camera. Visitors are presented up-to-date news from a local news agency, which can be brought up with a tap on the display. Quellentaucher searches automatically for related information, such as Wikipedia entries, pictures and Twitter feeds. In addition, relevant books are displayed on an adopted version of the 'Blended Shelf' next to the main screen. The user can choose from the available selection of books for a more detailled view, and is given more information about the author, book, ratings as well as the approximate location in the library. When a user finds a suitable book, the print button will produce a small information receipt with all essential information. </p>

                <p> librOS is funded by the federal state of North Rhine Westphalia, Germany, and is currently standing in the Central Library Cologne. </p>

            </div>

        </div>

        <br/>
        <br/>
        <br/>


        <div class="proj-container">



            <div class="pure-g">
                <div class="pure-u-1 pure-u-sm-1-2">
                    <img class="proj-image pure-img" src="{% base64 _images/MediaRoomControl.jpg %}" alt="Project screenshot"/>                        </div>

                <div class="proj-text pure-u-1 pure-u-sm-1-2">

                    <h2 class="proj-title"> MediaRoomControl </h2>
                    <hr/>
                    <div class="proj-data pure-g">


                        <div class="pure-u-1-2">
                            <p> Technologies used </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> C#, WPF, C (for intercepting input on a RaspberryPi), OptiTrack, TCP, UDP </p>
                        </div>


                        <div class="pure-u-1-2">
                            <p> Timeframe </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> Oct 2013 - Feb 2014 </p>
                        </div>


                    </div>
                </div>
            </div>


            <div class="proj-description">

                <p> Created for the course of "Blended Interaction" at the University of Konstanz, MediaRoomControl offers intuitive keyboard and mouse controls in multi-computer systems. </p>

                <p> Using spatial data from an OptiTrack / Proximity Toolkit system, the system is able to track different input devices in a room; with this the system can detect different interactions with monitors, such as touching the monitor with an input device. This action binds the user's input device to the touched monitor, redirecting all input to the monitor's corresponding machine. This allows for easy and intuitive switching between different machines and removes the tedious searching for the correct input device. </p>

                <p> The system is able to run as startup daemon, and does not need any special configuration due to IPv4 address discovery via UDP. Input is currently intercepted on a RaspberryPi / Debian system, and sent to a central server using TCP. With remote procedure calling, the server can relay the relevant commands to the corresponding client. </p>

            </div>

        </div>

        <br/>
        <br/>
        <br/>


        <div class="proj-container">



            <div class="pure-g">
                <div class="pure-u-1 pure-u-sm-1-2">
                    <img class="proj-image pure-img" src="{% base64 _images/HyperGrid.jpg %}" alt="Project screenshot"/>                        </div>

                <div class="proj-text pure-u-1 pure-u-sm-1-2">

                    <h2 class="proj-title"> FacetStream++ - HyperGrid </h2>
                    <hr/>
                    <div class="proj-data pure-g">


                        <div class="pure-u-1-2">
                            <p> Technologies used </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> C#, WPF </p>
                        </div>


                        <div class="pure-u-1-2">
                            <p> Timeframe </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> Jan 2013 - Apr 2013 </p>
                        </div>


                        <div class="pure-u-1-2">
                            <p> Featured in </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> <a href="https://www.youtube.com/watch?v=_dv4KxkNCKI" target="_blank">Blended Library</a> </p>
                        </div>


                    </div>
                </div>
            </div>


            <div class="proj-description">

                <p> FacetStream++ enables a group of users to collaboratively and simultaneously search in large amounts of data - for example for books in a library. The results are visualized in a HyperGrid - offering both an overview of the selected data, as well as detailled information by tapping the entry. </p>

                <p> FacetStream++ and the HyperGrid are now part of librOS, standing in the Central Library of Cologne, as well as in the library of the University of Konstanz. </p>

            </div>

        </div>

        <br/>
        <br/>
        <br/>


        <div class="proj-container">



            <div class="pure-g">
                <div class="pure-u-1 pure-u-sm-1-2">
                    <img class="proj-image pure-img" src="{% base64 _images/ISGCI.jpg %}" alt="Project screenshot"/>                        </div>

                <div class="proj-text pure-u-1 pure-u-sm-1-2">

                    <h2 class="proj-title"> ISGCI </h2>
                    <hr/>
                    <div class="proj-data pure-g">


                        <div class="pure-u-1-2">
                            <p> Technologies used </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> Java, JUnit, JGraphX </p>
                        </div>


                        <div class="pure-u-1-2">
                            <p> Timeframe </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> May 2013 - Jul 2013 </p>
                        </div>


                        <div class="pure-u-1-2">
                            <p> Original Project </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> <a href="http://www.graphclasses.org/" target="_blank">http://www.graphclasses.org/</a> </p>
                        </div>


                        <div class="pure-u-1-2">
                            <p> Source Code </p>
                        </div>
                        <div class="pure-u-1-2">
                            <p> <a href="https://github.com/Konsteirama/KonDrawer-JGraphX-Integration" target="_blank">Available on GitHub!</a>  </p>
                        </div>


                    </div>
                </div>
            </div>


            <div class="proj-description">

                <p> ISGCI is an open-source graph-visualisation application. Since it has been in development for over a decade (started in 1999), its code-base is ancient, relying on out-of-date Java features. </p>

                <p> As part of the 'Software Engineering' course at the University of Konstanz, the codebase was partially refactored, extended and adapted to use an up-to-date graph-drawing library - in this case JGraphX. </p>

                <p> The project received the second-highest grade possible and was named the best project of the course. </p>

            </div>

        </div>

        <br/>
        <br/>
        <br/>

    </div>
</div>



